<p-card class="md:fixed md:top-50 md:left-50 -translate-xy-50 w-full md:w-5">
    <ng-template pTemplate="header">
        <div class="text-center text-2xl pt-3">
            <span>Login</span>
        </div>
    </ng-template>

    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div class="formgrid grid">
            <div class="field col-12 mt-3">
                <p-floatLabel>
                    <input pInputText id="email" type="email" formControlName="email" class="w-full" />
                    <label for="email">Email</label>
                </p-floatLabel>
                @if (validateControl('email') && hasError('email', 'required')) {
                <small class="text-red-500 font-italic">Email is required.</small>
                }
                @if (validateControl('email') && hasError('email', 'email')) {
                <small class="text-red-500 font-italic">Email is incorrect.</small>
                }
            </div>
            <div class="field col-12 mt-3">
                <p-floatLabel>
                    <input pPassword id="password" type="password" formControlName="password" feedback="false"
                        class="w-full" />
                    <label for="password">Password</label>
                </p-floatLabel>
                @if (validateControl('password') && hasError('password', 'required')) {
                <small class="text-red-500 font-italic">Password is required.</small>
                }
            </div>
            <div class="field col-12 mt-3 text-center">
                <button pButton type="submit" label="Submit" [disabled]="loginForm.invalid" [loading]="isProcessing"
                    class="w-full md:w-4"></button>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="grid">
            <div class="col-6">
                <span><a href="#">Forgot password?</a></span>
            </div>
            <div class="col-6 text-right">
                <span><a [href]="'/account/register?returnURL=' + returnURL">New account?</a></span>
            </div>
        </div>
    </ng-template>
</p-card>